<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-GCD中同步和异步的写法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-串行队列.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-并发队列.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-全局队列.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-主队列.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>06-网络加载图片.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>07-同步的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>08-延时操作.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>09-调度组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>10-定时源事件和子线程的运行循环.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F2E7D741C53DCCD00B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7D8D1C53DCCE00B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7D981C53DCCE00B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7DAE1C53E27400B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7DC61C53E27400B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7DD11C53E27400B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7DE61C53E29600B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7DFE1C53E29700B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2E7E091C53E29700B9A744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27B641C545C050007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27B7F1C54672A0007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27B9A1C546D350007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27BB51C5477AC0007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27BD01C548B150007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27BEB1C548F7B0007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27C061C54BF350007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE27C211C54CC790007827B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
